 .back-screen {
    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
 } 

 .potimon-normal-height {
     height: 200px;
 }